.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    row-gap: 32px;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    padding: 32px;
    overflow-y: auto;
}
